*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eceff4;
  
 font-family:  'Quicksand', sans-serif;


}
body {
    background-color: #2e3440;
  font-family: 'Fira Code Nerd Font', awesome; /* Use the Nerd Font */
}
header {
  background-color:#3b4252;
 font-family: 'Fira Code Nerd Font', monospace; /* Use the Nerd Font */
  color: #eceff4;
  display:flex;
  float: none;
 justify-content: flex-end;  
                        
  grid-auto-flow: column;
  h1{
    
    justify-content:flex-start;
    margin-right: auto;

  }
  
  
 .navbar{
  display: block;
   
  list-style: none ;
  margin: 0;
  padding: 0;
  overflow: hidden; 


   li{
     float: right;
    a{
     display: block;
     color:#eceff4;
     text-align: right;
     padding: 14px 16px;
     overflow: hidden; 
   
     text-decoration: none;




    } 
   a:hover{

    background-color:#4c566a;
    border-radius:  5%;

      }
  }
  }
 
 button{
   border: none;
    padding: 8px 5px;
    width: auto;

  }
  button:hover{
    background-color: #3b4252;
   color: #eceff4;
   
    
  }
  hr{
   display: none;
  
   background-color:#eceff4;

  }
 }
h1 {
    font-family: monospace;
    color: #eceff4;
}
h3{
    font-family: monospace;
    color: #eceff4;
}
h5{
font-style:normal;
font-weight: normal;
}
p{
  color:#eceff4;
   font-family: 'Quicksand', sans-serif;
    font-weight: normal;
 
}
button {
 background-color: #2e3440;
 border-color: #eceff4;
 color: #eceff4;
 border-radius:  5%;
  border-style:solid;
}
button:hover{
    border-color: #81a1c1;
    color: #81a1c1;
    border-radius: 5%;
}
.me{
text-align: center;
/*background-attachment: scroll;*/
background-color :#3b4252;

 p{
   padding-bottom: 30px;
 }
margin:  30px;

 padding: 30px;
padding-bottom: 10px;
  



}


    .iknow{
      text-align:center;
     
        font-family: 'Courier New', Courier, monospace;
       
        background-color: #3b4252;
      
      margin:  30px;

       padding: 30px;
       padding-bottom: 10px;
    }

  
    .ikli 
  {
       
    list-style: none;
    li{
      padding-bottom: 10px;
    }
  }
